<a href="https://colab.research.google.com/github/Samuel1223/Salesforce_Record_Cluster/blob/main/connet_two_salesforce_account_Public.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 下載simple_salesforce

In [ ]:
0pip install simple_salesforce

Collecting simple_salesforce
  Downloading simple_salesforce-1.11.6-py2.py3-none-any.whl (118 kB)
     |████████████████████████████████| 118 kB 4.3 MB/s
Collecting zeep
  Downloading zeep-4.1.0-py2.py3-none-any.whl (100 kB)
     |████████████████████████████████| 100 kB 9.5 MB/s
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from simple_salesforce) (2.23.0)
Collecting authlib
  Downloading Authlib-1.0.1-py2.py3-none-any.whl (214 kB)
     |████████████████████████████████| 214 kB 55.2 MB/s
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->simple_salesforce) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->simple_salesforce) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->simple_salesforce) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->simple_salesforce) (2021.10.8)
Collecting cryptography>=3.2
  Downloading cryptography-36.0.2-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 67.3 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=3.2->authlib->simple_salesforce) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=3.2->authlib->simple_salesforce) (2.21)
Collecting lxml>=4.6.0
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 38.4 MB/s
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from zeep->simple_salesforce) (2018.9)
Collecting isodate>=0.5.4
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     |████████████████████████████████| 41 kB 627 kB/s
Collecting requests-toolbelt>=0.7.1
  Downloading requests_toolbelt-0.9.1-py2.py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 3.1 MB/s
Collecting requests-file>=1.5.1
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Collecting platformdirs>=1.4.0
  Downloading platformdirs-2.5.1-py3-none-any.whl (14 kB)
Requirement already satisfied: attrs>=17.2.0 in /usr/local/lib/python3.7/dist-packages (from zeep->simple_salesforce) (21.4.0)
Requirement already satisfied: cached-property>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from zeep->simple_salesforce) (1.5.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from isodate>=0.5.4->zeep->simple_salesforce) (1.15.0)
Installing collected packages: requests-toolbelt, requests-file, platformdirs, lxml, isodate, cryptography, zeep, authlib, simple-salesforce
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed authlib-1.0.1 cryptography-36.0.2 isodate-0.6.1 lxml-4.8.0 platformdirs-2.5.1 requests-file-1.5.1 requests-toolbelt-0.9.1 simple-salesforce-1.11.6 zeep-4.1.0

## 連線到salesforce

In [ ]:
from google.colab import drive
import pandas as pd
import json
import pandas as pd
from simple_salesforce import Salesforce, SalesforceLogin, SFType
import datetime

In [ ]:
loginInfo = {
    'username':' ', #enter your username
    'password':'', #enter your password
    'security_token':'' #enter your security_token
}
username = loginInfo['username']
password = loginInfo['password']
security_token = loginInfo['security_token']
domain = 'login'

In [ ]:
session_id, instance = SalesforceLogin(username=username, password=password, security_token=security_token, domain=domain)
sf = Salesforce(instance=instance, session_id=session_id)

## Query Account

In [ ]:
#querySOQL = """SELECT Id, Name, Type, Industry FROM Account WHERE Id = '0015j00000VWFJ7AAP'"""
querySOQL = """SELECT Id, Name, Type, Industry FROM Account"""
response = sf.query_all(querySOQL)
listAccoountrecord = response.get('records')
df_Account = pd.DataFrame(listAccoountrecord).drop(columns='attributes')

In [ ]:
df_Account.rename(columns = {'Id': 'AccountId', 'Name': 'AccName'}, inplace=True)

In [ ]:
df_Account

,AccountId,AccName,Type,Industry
0,0015j00000XynnQAAR,GenePoint,Customer - Channel,Biotechnology
1,0015j00000XynnOAAR,"United Oil & Gas, UK",Customer - Direct,Energy
2,0015j00000XynnPAAR,"United Oil & Gas, Singapore",Customer - Direct,Energy
3,0015j00000XynnGAAR,Edge Communications,Customer - Direct,Electronics
4,0015j00000XynnHAAR,Burlington Textiles Corp of America,Customer - Direct,Apparel
5,0015j00000XynnIAAR,Pyramid Construction Inc.,Customer - Channel,Construction
6,0015j00000XynnJAAR,Dickenson plc,Customer - Channel,Consulting
7,0015j00000XynnKAAR,Grand Hotels & Resorts Ltd,Customer - Direct,Hospitality
8,0015j00000XynnMAAR,Express Logistics and Transport,Customer - Channel,Transportation
9,0015j00000XynnNAAR,University of Arizona,Customer - Direct,Education
10,0015j00000XynnLAAR,United Oil & Gas Corp.,Customer - Direct,Energy
11,0015j00000XynnRAAR,sForce,None,None
12,0015j00000Xs3UJAAZ,權益的範例帳戶,None,None
13,0015j00000Xs3uMAAR,Deloitte,Technology Partner,Consulting
14,0015j00000aizi7AAA,DaccB,None,None
15,0015j00000aizGYAAY,DaccA,None,None
16,0015j00000aizj5AAA,DaccC,None,None
17,0015j00000aizkSAAQ,DaccD,None,None

## Query Opp

In [ ]:
#querySOQL2 = "SELECT OrderNumber , TotalAmount, AccountId, Status, Id FROM Order WHERE Id='8015j0000004WfuAAE'"
querySOQL2 = "SELECT Id, Name, StageName, AccountId FROM Opportunity"

Opp = sf.query_all(querySOQL2)
list_o_record = Opp.get('records')
df_Opp = pd.DataFrame(list_o_record).drop(columns='attributes')

In [ ]:
df_Opp.rename(columns = {'Id': 'OppId', 'Name': 'OppName'}, inplace=True)

In [ ]:
df_Opp

,OppId,OppName,StageName,AccountId
0,0065j00000UUGT0AAP,Dickenson Mobile Generators,Qualification,0015j00000XynnJAAR
1,0065j00000UUGT1AAP,United Oil Office Portable Generators,Negotiation/Review,0015j00000XynnLAAR
2,0065j00000UUGT2AAP,Express Logistics Standby Generator,Closed Won,0015j00000XynnMAAR
3,0065j00000UUGT3AAP,GenePoint Standby Generator,Closed Won,0015j00000XynnQAAR
4,0065j00000UUGT4AAP,Grand Hotels Kitchen Generator,Id. Decision Makers,0015j00000XynnKAAR
5,0065j00000UUGT5AAP,United Oil Refinery Generators,Proposal/Price Quote,0015j00000XynnLAAR
6,0065j00000UUGT6AAP,United Oil SLA,Closed Won,0015j00000XynnLAAR
7,0065j00000UUGT7AAP,Grand Hotels Guest Portable Generators,Value Proposition,0015j00000XynnKAAR
8,0065j00000UUGT8AAP,Edge Emergency Generator,Closed Won,0015j00000XynnGAAR
9,0065j00000UUGT9AAP,University of AZ Portable Generators,Closed Won,0015j00000XynnNAAR
10,0065j00000UUGTAAA5,Pyramid Emergency Generators,Prospecting,0015j00000XynnIAAR
11,0065j00000UUGTBAA5,Express Logistics Portable Truck Generators,Value Proposition,0015j00000XynnMAAR
12,0065j00000UUGTCAA5,GenePoint Lab Generators,Id. Decision Makers,0015j00000XynnQAAR
13,0065j00000UUGTDAA5,GenePoint SLA,Closed Won,0015j00000XynnQAAR
14,0065j00000UUGTEAA5,United Oil Installations,Negotiation/Review,0015j00000XynnLAAR
15,0065j00000UUGTFAA5,Edge Installation,Closed Won,0015j00000XynnGAAR
16,0065j00000UUGTGAA5,Edge SLA,Closed Won,0015j00000XynnGAAR
17,0065j00000UUGTHAA5,United Oil Installations,Closed Won,0015j00000XynnLAAR
18,0065j00000UUGTIAA5,Grand Hotels Generator Installations,Closed Won,0015j00000XynnKAAR
19,0065j00000UUGTJAA5,United Oil Refinery Generators,Closed Won,0015j00000XynnLAAR
20,0065j00000UUGTKAA5,University of AZ Installations,Proposal/Price Quote,0015j00000XynnNAAR
21,0065j00000UUGTLAA5,Express Logistics SLA,Perception Analysis,0015j00000XynnMAAR
22,0065j00000UUGTMAA5,University of AZ SLA,Closed Won,0015j00000XynnNAAR
23,0065j00000UUGTNAA5,Burlington Textiles Weaving Plant Generator,Closed Won,0015j00000XynnHAAR
24,0065j00000UUGTOAA5,United Oil Installations,Closed Won,0015j00000XynnLAAR
25,0065j00000UUGTPAA5,United Oil Emergency Generators,Closed Won,0015j00000XynnLAAR
26,0065j00000UUGTQAA5,Grand Hotels SLA,Closed Won,0015j00000XynnKAAR
27,0065j00000UUGTRAA5,United Oil Standby Generators,Closed Won,0015j00000XynnLAAR
28,0065j00000UUGTSAA5,Grand Hotels Emergency Generators,Closed Won,0015j00000XynnKAAR
29,0065j00000UUGTTAA5,United Oil Plant Standby Generators,Needs Analysis,0015j00000XynnLAAR
30,0065j00000UUGTUAA5,Edge Emergency Generator,Id. Decision Makers,0015j00000XynnGAAR
31,0065j00000TuXJHAA3,New Year,Proposal/Price Quote,0015j00000Xs3uMAAR
32,0065j00000TuXJIAA3,NTUST purchase,Closed Won,0015j00000Xs3uMAAR
33,0065j00000TuXIsAAN,Christmas,Closed Won,0015j00000Xs3uMAAR
34,0065j00000TuaB8AAJ,Halloween,Needs Analysis,0015j00000Xs3uMAAR
35,0065j00000Tua1uAAB,Chinese New Year,Value Proposition,0015j00000Xs3uMAAR
36,0065j00000TucxAAAR,ntust meeting,Prospecting,0015j00000Xs3uMAAR
37,0065j00000TucxKAAR,US friend,Needs Analysis,0015j00000Xs3uMAAR
38,0065j00000Tui0iAAB,chris,Needs Analysis,0015j00000Xs3uMAAR
39,0065j00000TwSHTAA3,Doppc,Prospecting,0015j00000aizj5AAA
40,0065j00000TwSFwAAN,Doppa,Prospecting,0015j00000aizGYAAY
41,0065j00000TwSFxAAN,Doppb,Prospecting,0015j00000aizi7AAA
42,0065j00000TwSIMAA3,Doppd,Prospecting,0015j00000aizkSAAQ

## Query OPP Product

In [ ]:
querySOQL3 = "SELECT Product2Id, OpportunityId, Name, Quantity, UnitPrice, TotalPrice FROM OpportunityLineItem"
OppProduct = sf.query_all(querySOQL3)
list_op_record = OppProduct.get('records')
df_OppProduct = pd.DataFrame(list_op_record).drop(columns='attributes')

In [ ]:
df_OppProduct.rename(columns = {'Name': 'OPP P Name'}, inplace=True)

In [ ]:
df_OppProduct

,Product2Id,OpportunityId,OPP P Name,Quantity,UnitPrice,TotalPrice
0,01t5j000004Od0WAAS,0065j00000Tui0iAAB,chris SLA: Platinum,7.0,40000.0,280000.0
1,01t5j000004Od0ZAAS,0065j00000TuXIsAAN,Christmas SLA: Bronze,5.0,10000.0,50000.0
2,01t5j000004Od0cAAC,0065j00000TuXIsAAN,Christmas SLA: Gold,9.0,30000.0,270000.0
3,01t5j000004Od0WAAS,0065j00000TuXIsAAN,Christmas SLA: Platinum,7.0,40000.0,280000.0
4,01t5j000004Od0cAAC,0065j00000Tui0iAAB,chris SLA: Gold,9.0,30000.0,270000.0
5,01t5j000004Od0ZAAS,0065j00000Tui0iAAB,chris SLA: Bronze,5.0,10000.0,50000.0
6,01t5j000004Od0cAAC,0065j00000TwSFwAAN,Doppa SLA: Gold,3.0,30000.0,90000.0
7,01t5j000004Od0UAAS,0065j00000TwSFwAAN,Doppa SLA: Silver,3.0,20000.0,60000.0
8,01t5j000004Od0cAAC,0065j00000TwSFxAAN,Doppb SLA: Gold,3.0,30000.0,90000.0
9,01t5j000004Od0UAAS,0065j00000TwSFxAAN,Doppb SLA: Silver,3.0,20000.0,60000.0
10,01t5j000004Od0cAAC,0065j00000TwSHTAA3,Doppc SLA: Gold,3.0,30000.0,90000.0
11,01t5j000004Od0UAAS,0065j00000TwSHTAA3,Doppc SLA: Silver,3.0,20000.0,60000.0
12,01t5j000004Od0cAAC,0065j00000TwSIMAA3,Doppd SLA: Gold,3.0,30000.0,90000.0
13,01t5j000004Od0UAAS,0065j00000TwSIMAA3,Doppd SLA: Silver,3.0,20000.0,60000.0

## Query Product

In [ ]:
querySOQL4 = "SELECT Name, ProductCode, Id FROM Product2"
product = sf.query_all(querySOQL4)
list_product_record = product.get('records')
df_product = pd.DataFrame(list_product_record).drop(columns='attributes')

In [ ]:
df_product.rename(columns ={'Id':'Product2Id','Name':'Product Name'}, inplace=True)

In [ ]:
df_product

                         Product Name ProductCode          Product2Id
0                GenWatt Diesel 200kW      GC1040  01t5j000004Od0RAAS
1                 GenWatt Diesel 10kW      GC1020  01t5j000004Od0SAAS
2     Installation: Industrial - High      IN7080  01t5j000004Od0TAAS
3                         SLA: Silver      SL9040  01t5j000004Od0UAAS
4               GenWatt Propane 500kW      GC3040  01t5j000004Od0VAAS
5                       SLA: Platinum      SL9080  01t5j000004Od0WAAS
6               GenWatt Propane 100kW      GC3020  01t5j000004Od0XAAS
7              GenWatt Propane 1500kW      GC3060  01t5j000004Od0YAAS
8               GenWatt Diesel 1000kW      GC1060  01t5j000004Od0QAAS
9                         SLA: Bronze      SL9020  01t5j000004Od0ZAAS
10             GenWatt Gasoline 750kW      GC5040  01t5j000004Od0aAAC
11             Installation: Portable      IN7020  01t5j000004Od0bAAC
12                          SLA: Gold      SL9060  01t5j000004Od0cAAC
13             GenWatt Gasoline 300kW      GC5020  01t5j000004Od0dAAC
14     Installation: Industrial - Low      IN7040  01t5j000004Od0eAAC
15            GenWatt Gasoline 2000kW      GC5060  01t5j000004Od0fAAC
16  Installation: Industrial - Medium      IN7060  01t5j000004Od0gAAC

## 資料整合

In [ ]:
df_Opp_OppP = pd.merge(df_Opp, df_OppProduct, left_on="OppId", right_on="OpportunityId"

In [ ]:
df_Opp_OppP

,OppId,OppName,StageName,AccountId,Product2Id,OpportunityId,OPP P Name,Quantity,UnitPrice,TotalPrice
0,0065j00000TuXIsAAN,Christmas,Closed Won,0015j00000Xs3uMAAR,01t5j000004Od0ZAAS,0065j00000TuXIsAAN,Christmas SLA: Bronze,5.0,10000.0,50000.0
1,0065j00000TuXIsAAN,Christmas,Closed Won,0015j00000Xs3uMAAR,01t5j000004Od0cAAC,0065j00000TuXIsAAN,Christmas SLA: Gold,9.0,30000.0,270000.0
2,0065j00000TuXIsAAN,Christmas,Closed Won,0015j00000Xs3uMAAR,01t5j000004Od0WAAS,0065j00000TuXIsAAN,Christmas SLA: Platinum,7.0,40000.0,280000.0
3,0065j00000Tui0iAAB,chris,Needs Analysis,0015j00000Xs3uMAAR,01t5j000004Od0WAAS,0065j00000Tui0iAAB,chris SLA: Platinum,7.0,40000.0,280000.0
4,0065j00000Tui0iAAB,chris,Needs Analysis,0015j00000Xs3uMAAR,01t5j000004Od0cAAC,0065j00000Tui0iAAB,chris SLA: Gold,9.0,30000.0,270000.0
5,0065j00000Tui0iAAB,chris,Needs Analysis,0015j00000Xs3uMAAR,01t5j000004Od0ZAAS,0065j00000Tui0iAAB,chris SLA: Bronze,5.0,10000.0,50000.0
6,0065j00000TwSHTAA3,Doppc,Prospecting,0015j00000aizj5AAA,01t5j000004Od0cAAC,0065j00000TwSHTAA3,Doppc SLA: Gold,3.0,30000.0,90000.0
7,0065j00000TwSHTAA3,Doppc,Prospecting,0015j00000aizj5AAA,01t5j000004Od0UAAS,0065j00000TwSHTAA3,Doppc SLA: Silver,3.0,20000.0,60000.0
8,0065j00000TwSFwAAN,Doppa,Prospecting,0015j00000aizGYAAY,01t5j000004Od0cAAC,0065j00000TwSFwAAN,Doppa SLA: Gold,3.0,30000.0,90000.0
9,0065j00000TwSFwAAN,Doppa,Prospecting,0015j00000aizGYAAY,01t5j000004Od0UAAS,0065j00000TwSFwAAN,Doppa SLA: Silver,3.0,20000.0,60000.0
10,0065j00000TwSFxAAN,Doppb,Prospecting,0015j00000aizi7AAA,01t5j000004Od0cAAC,0065j00000TwSFxAAN,Doppb SLA: Gold,3.0,30000.0,90000.0
11,0065j00000TwSFxAAN,Doppb,Prospecting,0015j00000aizi7AAA,01t5j000004Od0UAAS,0065j00000TwSFxAAN,Doppb SLA: Silver,3.0,20000.0,60000.0
12,0065j00000TwSIMAA3,Doppd,Prospecting,0015j00000aizkSAAQ,01t5j000004Od0cAAC,0065j00000TwSIMAA3,Doppd SLA: Gold,3.0,30000.0,90000.0
13,0065j00000TwSIMAA3,Doppd,Prospecting,0015j00000aizkSAAQ,01t5j000004Od0UAAS,0065j00000TwSIMAA3,Doppd SLA: Silver,3.0,20000.0,60000.0

In [ ]:
df_Opp_OppP_Prod = pd.merge(df_Opp_OppP, df_product, left_on="Product2Id", right_on="Product2Id")

In [ ]:
df_Opp_OppP_Prod

,OppId,OppName,StageName,AccountId,Product2Id,OpportunityId,OPP P Name,Quantity,UnitPrice,TotalPrice,Product Name,ProductCode
0,0065j00000TuXIsAAN,Christmas,Closed Won,0015j00000Xs3uMAAR,01t5j000004Od0ZAAS,0065j00000TuXIsAAN,Christmas SLA: Bronze,5.0,10000.0,50000.0,SLA: Bronze,SL9020
1,0065j00000Tui0iAAB,chris,Needs Analysis,0015j00000Xs3uMAAR,01t5j000004Od0ZAAS,0065j00000Tui0iAAB,chris SLA: Bronze,5.0,10000.0,50000.0,SLA: Bronze,SL9020
2,0065j00000TuXIsAAN,Christmas,Closed Won,0015j00000Xs3uMAAR,01t5j000004Od0cAAC,0065j00000TuXIsAAN,Christmas SLA: Gold,9.0,30000.0,270000.0,SLA: Gold,SL9060
3,0065j00000Tui0iAAB,chris,Needs Analysis,0015j00000Xs3uMAAR,01t5j000004Od0cAAC,0065j00000Tui0iAAB,chris SLA: Gold,9.0,30000.0,270000.0,SLA: Gold,SL9060
4,0065j00000TwSHTAA3,Doppc,Prospecting,0015j00000aizj5AAA,01t5j000004Od0cAAC,0065j00000TwSHTAA3,Doppc SLA: Gold,3.0,30000.0,90000.0,SLA: Gold,SL9060
5,0065j00000TwSFwAAN,Doppa,Prospecting,0015j00000aizGYAAY,01t5j000004Od0cAAC,0065j00000TwSFwAAN,Doppa SLA: Gold,3.0,30000.0,90000.0,SLA: Gold,SL9060
6,0065j00000TwSFxAAN,Doppb,Prospecting,0015j00000aizi7AAA,01t5j000004Od0cAAC,0065j00000TwSFxAAN,Doppb SLA: Gold,3.0,30000.0,90000.0,SLA: Gold,SL9060
7,0065j00000TwSIMAA3,Doppd,Prospecting,0015j00000aizkSAAQ,01t5j000004Od0cAAC,0065j00000TwSIMAA3,Doppd SLA: Gold,3.0,30000.0,90000.0,SLA: Gold,SL9060
8,0065j00000TuXIsAAN,Christmas,Closed Won,0015j00000Xs3uMAAR,01t5j000004Od0WAAS,0065j00000TuXIsAAN,Christmas SLA: Platinum,7.0,40000.0,280000.0,SLA: Platinum,SL9080
9,0065j00000Tui0iAAB,chris,Needs Analysis,0015j00000Xs3uMAAR,01t5j000004Od0WAAS,0065j00000Tui0iAAB,chris SLA: Platinum,7.0,40000.0,280000.0,SLA: Platinum,SL9080
10,0065j00000TwSHTAA3,Doppc,Prospecting,0015j00000aizj5AAA,01t5j000004Od0UAAS,0065j00000TwSHTAA3,Doppc SLA: Silver,3.0,20000.0,60000.0,SLA: Silver,SL9040
11,0065j00000TwSFwAAN,Doppa,Prospecting,0015j00000aizGYAAY,01t5j000004Od0UAAS,0065j00000TwSFwAAN,Doppa SLA: Silver,3.0,20000.0,60000.0,SLA: Silver,SL9040
12,0065j00000TwSFxAAN,Doppb,Prospecting,0015j00000aizi7AAA,01t5j000004Od0UAAS,0065j00000TwSFxAAN,Doppb SLA: Silver,3.0,20000.0,60000.0,SLA: Silver,SL9040
13,0065j00000TwSIMAA3,Doppd,Prospecting,0015j00000aizkSAAQ,01t5j000004Od0UAAS,0065j00000TwSIMAA3,Doppd SLA: Silver,3.0,20000.0,60000.0,SLA: Silver,SL9040

In [ ]:
df_Opp_OppP_Prod_Acc = pd.merge(df_Opp_OppP_Prod, df_Account, left_on="AccountId", right_on="AccountId")

In [ ]:
df_Opp_OppP_Prod_Acc

,OppId,OppName,StageName,AccountId,Product2Id,OpportunityId,OPP P Name,Quantity,UnitPrice,TotalPrice,Product Name,ProductCode,AccName,Type,Industry
0,0065j00000TuXIsAAN,Christmas,Closed Won,0015j00000Xs3uMAAR,01t5j000004Od0ZAAS,0065j00000TuXIsAAN,Christmas SLA: Bronze,5.0,10000.0,50000.0,SLA: Bronze,SL9020,Deloitte,Technology Partner,Consulting
1,0065j00000Tui0iAAB,chris,Needs Analysis,0015j00000Xs3uMAAR,01t5j000004Od0ZAAS,0065j00000Tui0iAAB,chris SLA: Bronze,5.0,10000.0,50000.0,SLA: Bronze,SL9020,Deloitte,Technology Partner,Consulting
2,0065j00000TuXIsAAN,Christmas,Closed Won,0015j00000Xs3uMAAR,01t5j000004Od0cAAC,0065j00000TuXIsAAN,Christmas SLA: Gold,9.0,30000.0,270000.0,SLA: Gold,SL9060,Deloitte,Technology Partner,Consulting
3,0065j00000Tui0iAAB,chris,Needs Analysis,0015j00000Xs3uMAAR,01t5j000004Od0cAAC,0065j00000Tui0iAAB,chris SLA: Gold,9.0,30000.0,270000.0,SLA: Gold,SL9060,Deloitte,Technology Partner,Consulting
4,0065j00000TuXIsAAN,Christmas,Closed Won,0015j00000Xs3uMAAR,01t5j000004Od0WAAS,0065j00000TuXIsAAN,Christmas SLA: Platinum,7.0,40000.0,280000.0,SLA: Platinum,SL9080,Deloitte,Technology Partner,Consulting
5,0065j00000Tui0iAAB,chris,Needs Analysis,0015j00000Xs3uMAAR,01t5j000004Od0WAAS,0065j00000Tui0iAAB,chris SLA: Platinum,7.0,40000.0,280000.0,SLA: Platinum,SL9080,Deloitte,Technology Partner,Consulting
6,0065j00000TwSHTAA3,Doppc,Prospecting,0015j00000aizj5AAA,01t5j000004Od0cAAC,0065j00000TwSHTAA3,Doppc SLA: Gold,3.0,30000.0,90000.0,SLA: Gold,SL9060,DaccC,None,None
7,0065j00000TwSHTAA3,Doppc,Prospecting,0015j00000aizj5AAA,01t5j000004Od0UAAS,0065j00000TwSHTAA3,Doppc SLA: Silver,3.0,20000.0,60000.0,SLA: Silver,SL9040,DaccC,None,None
8,0065j00000TwSFwAAN,Doppa,Prospecting,0015j00000aizGYAAY,01t5j000004Od0cAAC,0065j00000TwSFwAAN,Doppa SLA: Gold,3.0,30000.0,90000.0,SLA: Gold,SL9060,DaccA,None,None
9,0065j00000TwSFwAAN,Doppa,Prospecting,0015j00000aizGYAAY,01t5j000004Od0UAAS,0065j00000TwSFwAAN,Doppa SLA: Silver,3.0,20000.0,60000.0,SLA: Silver,SL9040,DaccA,None,None
10,0065j00000TwSFxAAN,Doppb,Prospecting,0015j00000aizi7AAA,01t5j000004Od0cAAC,0065j00000TwSFxAAN,Doppb SLA: Gold,3.0,30000.0,90000.0,SLA: Gold,SL9060,DaccB,None,None
11,0065j00000TwSFxAAN,Doppb,Prospecting,0015j00000aizi7AAA,01t5j000004Od0UAAS,0065j00000TwSFxAAN,Doppb SLA: Silver,3.0,20000.0,60000.0,SLA: Silver,SL9040,DaccB,None,None
12,0065j00000TwSIMAA3,Doppd,Prospecting,0015j00000aizkSAAQ,01t5j000004Od0cAAC,0065j00000TwSIMAA3,Doppd SLA: Gold,3.0,30000.0,90000.0,SLA: Gold,SL9060,DaccD,None,None
13,0065j00000TwSIMAA3,Doppd,Prospecting,0015j00000aizkSAAQ,01t5j000004Od0UAAS,0065j00000TwSIMAA3,Doppd SLA: Silver,3.0,20000.0,60000.0,SLA: Silver,SL9040,DaccD,None,None

## Kprototype

In [ ]:
!pip install kmodes

Collecting kmodes
  Downloading kmodes-0.12.0-py2.py3-none-any.whl (20 kB)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.1.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.21.5)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.0->kmodes) (3.1.0)
Installing collected packages: kmodes
Successfully installed kmodes-0.12.0

In [ ]:
import numpy as np
import pandas as pd
from kmodes.kprototypes import KPrototypes

In [ ]:
df_Opp_OppP_Prod_Acc

,OppId,OppName,StageName,AccountId,Product2Id,OpportunityId,OPP P Name,Quantity,UnitPrice,TotalPrice,Product Name,ProductCode,AccName,Type,Industry,cluster
0,0065j00000TuXIsAAN,Christmas,Closed Won,0015j00000Xs3uMAAR,01t5j000004Od0ZAAS,0065j00000TuXIsAAN,Christmas SLA: Bronze,5.0,10000.0,50000.0,SLA: Bronze,SL9020,Deloitte,Technology Partner,Consulting,2
1,0065j00000Tui0iAAB,chris,Needs Analysis,0015j00000Xs3uMAAR,01t5j000004Od0ZAAS,0065j00000Tui0iAAB,chris SLA: Bronze,5.0,10000.0,50000.0,SLA: Bronze,SL9020,Deloitte,Technology Partner,Consulting,2
2,0065j00000TuXIsAAN,Christmas,Closed Won,0015j00000Xs3uMAAR,01t5j000004Od0cAAC,0065j00000TuXIsAAN,Christmas SLA: Gold,9.0,30000.0,270000.0,SLA: Gold,SL9060,Deloitte,Technology Partner,Consulting,1
3,0065j00000Tui0iAAB,chris,Needs Analysis,0015j00000Xs3uMAAR,01t5j000004Od0cAAC,0065j00000Tui0iAAB,chris SLA: Gold,9.0,30000.0,270000.0,SLA: Gold,SL9060,Deloitte,Technology Partner,Consulting,1
4,0065j00000TuXIsAAN,Christmas,Closed Won,0015j00000Xs3uMAAR,01t5j000004Od0WAAS,0065j00000TuXIsAAN,Christmas SLA: Platinum,7.0,40000.0,280000.0,SLA: Platinum,SL9080,Deloitte,Technology Partner,Consulting,1
5,0065j00000Tui0iAAB,chris,Needs Analysis,0015j00000Xs3uMAAR,01t5j000004Od0WAAS,0065j00000Tui0iAAB,chris SLA: Platinum,7.0,40000.0,280000.0,SLA: Platinum,SL9080,Deloitte,Technology Partner,Consulting,1
6,0065j00000TwSHTAA3,Doppc,Prospecting,0015j00000aizj5AAA,01t5j000004Od0cAAC,0065j00000TwSHTAA3,Doppc SLA: Gold,3.0,30000.0,90000.0,SLA: Gold,SL9060,DaccC,None,None,0
7,0065j00000TwSHTAA3,Doppc,Prospecting,0015j00000aizj5AAA,01t5j000004Od0UAAS,0065j00000TwSHTAA3,Doppc SLA: Silver,3.0,20000.0,60000.0,SLA: Silver,SL9040,DaccC,None,None,2
8,0065j00000TwSFwAAN,Doppa,Prospecting,0015j00000aizGYAAY,01t5j000004Od0cAAC,0065j00000TwSFwAAN,Doppa SLA: Gold,3.0,30000.0,90000.0,SLA: Gold,SL9060,DaccA,None,None,0
9,0065j00000TwSFwAAN,Doppa,Prospecting,0015j00000aizGYAAY,01t5j000004Od0UAAS,0065j00000TwSFwAAN,Doppa SLA: Silver,3.0,20000.0,60000.0,SLA: Silver,SL9040,DaccA,None,None,2
10,0065j00000TwSFxAAN,Doppb,Prospecting,0015j00000aizi7AAA,01t5j000004Od0cAAC,0065j00000TwSFxAAN,Doppb SLA: Gold,3.0,30000.0,90000.0,SLA: Gold,SL9060,DaccB,None,None,0
11,0065j00000TwSFxAAN,Doppb,Prospecting,0015j00000aizi7AAA,01t5j000004Od0UAAS,0065j00000TwSFxAAN,Doppb SLA: Silver,3.0,20000.0,60000.0,SLA: Silver,SL9040,DaccB,None,None,2
12,0065j00000TwSIMAA3,Doppd,Prospecting,0015j00000aizkSAAQ,01t5j000004Od0cAAC,0065j00000TwSIMAA3,Doppd SLA: Gold,3.0,30000.0,90000.0,SLA: Gold,SL9060,DaccD,None,None,0
13,0065j00000TwSIMAA3,Doppd,Prospecting,0015j00000aizkSAAQ,01t5j000004Od0UAAS,0065j00000TwSIMAA3,Doppd SLA: Silver,3.0,20000.0,60000.0,SLA: Silver,SL9040,DaccD,None,None,2

In [ ]:
df_Opp_OppP_Prod_Acc_drop = df_Opp_OppP_Prod_Acc.drop(['OppName','OppId','OpportunityId','OPP P Name','StageName','Type','Industry'],axis=1)

In [ ]:
df_Opp_OppP_Prod_Acc_drop= df_Opp_OppP_Prod_Acc_drop.values

In [ ]:
df_Opp_OppP_Prod_Acc_drop

array([['0015j00000Xs3uMAAR', '01t5j000004Od0ZAAS', 5.0, 10000.0,
        50000.0, 'SLA: Bronze', 'SL9020', 'Deloitte', 1],
       ['0015j00000Xs3uMAAR', '01t5j000004Od0ZAAS', 5.0, 10000.0,
        50000.0, 'SLA: Bronze', 'SL9020', 'Deloitte', 1],
       ['0015j00000Xs3uMAAR', '01t5j000004Od0cAAC', 9.0, 30000.0,
        270000.0, 'SLA: Gold', 'SL9060', 'Deloitte', 2],
       ['0015j00000Xs3uMAAR', '01t5j000004Od0cAAC', 9.0, 30000.0,
        270000.0, 'SLA: Gold', 'SL9060', 'Deloitte', 2],
       ['0015j00000Xs3uMAAR', '01t5j000004Od0WAAS', 7.0, 40000.0,
        280000.0, 'SLA: Platinum', 'SL9080', 'Deloitte', 2],
       ['0015j00000Xs3uMAAR', '01t5j000004Od0WAAS', 7.0, 40000.0,
        280000.0, 'SLA: Platinum', 'SL9080', 'Deloitte', 2],
       ['0015j00000aizj5AAA', '01t5j000004Od0cAAC', 3.0, 30000.0,
        90000.0, 'SLA: Gold', 'SL9060', 'DaccC', 0],
       ['0015j00000aizj5AAA', '01t5j000004Od0UAAS', 3.0, 20000.0,
        60000.0, 'SLA: Silver', 'SL9040', 'DaccC', 1],
       ['0015j00000aizGYAAY', '01t5j000004Od0cAAC', 3.0, 30000.0,
        90000.0, 'SLA: Gold', 'SL9060', 'DaccA', 0],
       ['0015j00000aizGYAAY', '01t5j000004Od0UAAS', 3.0, 20000.0,
        60000.0, 'SLA: Silver', 'SL9040', 'DaccA', 1],
       ['0015j00000aizi7AAA', '01t5j000004Od0cAAC', 3.0, 30000.0,
        90000.0, 'SLA: Gold', 'SL9060', 'DaccB', 0],
       ['0015j00000aizi7AAA', '01t5j000004Od0UAAS', 3.0, 20000.0,
        60000.0, 'SLA: Silver', 'SL9040', 'DaccB', 1],
       ['0015j00000aizkSAAQ', '01t5j000004Od0cAAC', 3.0, 30000.0,
        90000.0, 'SLA: Gold', 'SL9060', 'DaccD', 0],
       ['0015j00000aizkSAAQ', '01t5j000004Od0UAAS', 3.0, 20000.0,
        60000.0, 'SLA: Silver', 'SL9040', 'DaccD', 1]], dtype=object)

In [ ]:
df_Opp_OppP_Prod_Acc_drop[:, 2] = df_Opp_OppP_Prod_Acc_drop[:, 2].astype(float)
df_Opp_OppP_Prod_Acc_drop[:, 3] = df_Opp_OppP_Prod_Acc_drop[:, 3].astype(float)
df_Opp_OppP_Prod_Acc_drop[:, 4] = df_Opp_OppP_Prod_Acc_drop[:, 4].astype(float)

In [ ]:
df_Opp_OppP_Prod_Acc_drop

array([['0015j00000Xs3uMAAR', '01t5j000004Od0ZAAS', 5.0, 10000.0,
        50000.0, 'SLA: Bronze', 'SL9020', 'Deloitte', 1],
       ['0015j00000Xs3uMAAR', '01t5j000004Od0ZAAS', 5.0, 10000.0,
        50000.0, 'SLA: Bronze', 'SL9020', 'Deloitte', 1],
       ['0015j00000Xs3uMAAR', '01t5j000004Od0cAAC', 9.0, 30000.0,
        270000.0, 'SLA: Gold', 'SL9060', 'Deloitte', 2],
       ['0015j00000Xs3uMAAR', '01t5j000004Od0cAAC', 9.0, 30000.0,
        270000.0, 'SLA: Gold', 'SL9060', 'Deloitte', 2],
       ['0015j00000Xs3uMAAR', '01t5j000004Od0WAAS', 7.0, 40000.0,
        280000.0, 'SLA: Platinum', 'SL9080', 'Deloitte', 2],
       ['0015j00000Xs3uMAAR', '01t5j000004Od0WAAS', 7.0, 40000.0,
        280000.0, 'SLA: Platinum', 'SL9080', 'Deloitte', 2],
       ['0015j00000aizj5AAA', '01t5j000004Od0cAAC', 3.0, 30000.0,
        90000.0, 'SLA: Gold', 'SL9060', 'DaccC', 0],
       ['0015j00000aizj5AAA', '01t5j000004Od0UAAS', 3.0, 20000.0,
        60000.0, 'SLA: Silver', 'SL9040', 'DaccC', 1],
       ['0015j00000aizGYAAY', '01t5j000004Od0cAAC', 3.0, 30000.0,
        90000.0, 'SLA: Gold', 'SL9060', 'DaccA', 0],
       ['0015j00000aizGYAAY', '01t5j000004Od0UAAS', 3.0, 20000.0,
        60000.0, 'SLA: Silver', 'SL9040', 'DaccA', 1],
       ['0015j00000aizi7AAA', '01t5j000004Od0cAAC', 3.0, 30000.0,
        90000.0, 'SLA: Gold', 'SL9060', 'DaccB', 0],
       ['0015j00000aizi7AAA', '01t5j000004Od0UAAS', 3.0, 20000.0,
        60000.0, 'SLA: Silver', 'SL9040', 'DaccB', 1],
       ['0015j00000aizkSAAQ', '01t5j000004Od0cAAC', 3.0, 30000.0,
        90000.0, 'SLA: Gold', 'SL9060', 'DaccD', 0],
       ['0015j00000aizkSAAQ', '01t5j000004Od0UAAS', 3.0, 20000.0,
        60000.0, 'SLA: Silver', 'SL9040', 'DaccD', 1]], dtype=object)

In [ ]:
kproto = KPrototypes(n_clusters=3, verbose=2,max_iter=20)
clusters = kproto.fit_predict(df_Opp_OppP_Prod_Acc_drop, categorical=[0, 1, 5, 6, 7])

Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 0, ncost: 467588340.2826179
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 0, ncost: 467588340.2826179
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 0, ncost: 3361205262.0926547
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 0, ncost: 467588340.2826179
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 0, ncost: 467588340.2826179
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 0, ncost: 467588340.2826179
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 0, ncost: 467588340.2826179
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 4, ncost: 467588340.2826179
Run: 8, iteration: 2/20, moves: 0, ncost: 467588340.2826179
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 0, ncost: 467588340.2826179
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 0, ncost: 467588340.2826179
Best run was number 1

In [ ]:

cluster_dict=[]
for c in clusters:
    cluster_dict.append(int(c))

In [ ]:
cluster_dict

[1, 1, 2, 2, 2, 2, 0, 1, 0, 1, 0, 1, 0, 1]

In [ ]:
df_Opp_OppP_Prod_Acc['cluster']= cluster_dict

In [ ]:
df_Opp_OppP_Prod_Acc[df_Opp_OppP_Prod_Acc['cluster']== 0]

,OppId,OppName,StageName,AccountId,Product2Id,OpportunityId,OPP P Name,Quantity,UnitPrice,TotalPrice,Product Name,ProductCode,AccName,Type,Industry,cluster
6,0065j00000TwSHTAA3,Doppc,Prospecting,0015j00000aizj5AAA,01t5j000004Od0cAAC,0065j00000TwSHTAA3,Doppc SLA: Gold,3.0,30000.0,90000.0,SLA: Gold,SL9060,DaccC,None,None,0
8,0065j00000TwSFwAAN,Doppa,Prospecting,0015j00000aizGYAAY,01t5j000004Od0cAAC,0065j00000TwSFwAAN,Doppa SLA: Gold,3.0,30000.0,90000.0,SLA: Gold,SL9060,DaccA,None,None,0
10,0065j00000TwSFxAAN,Doppb,Prospecting,0015j00000aizi7AAA,01t5j000004Od0cAAC,0065j00000TwSFxAAN,Doppb SLA: Gold,3.0,30000.0,90000.0,SLA: Gold,SL9060,DaccB,None,None,0
12,0065j00000TwSIMAA3,Doppd,Prospecting,0015j00000aizkSAAQ,01t5j000004Od0cAAC,0065j00000TwSIMAA3,Doppd SLA: Gold,3.0,30000.0,90000.0,SLA: Gold,SL9060,DaccD,None,None,0

In [ ]:
df_Opp_OppP_Prod_Acc[df_Opp_OppP_Prod_Acc['cluster']== 1]

,OppId,OppName,StageName,AccountId,Product2Id,OpportunityId,OPP P Name,Quantity,UnitPrice,TotalPrice,Product Name,ProductCode,AccName,Type,Industry,cluster
0,0065j00000TuXIsAAN,Christmas,Closed Won,0015j00000Xs3uMAAR,01t5j000004Od0ZAAS,0065j00000TuXIsAAN,Christmas SLA: Bronze,5.0,10000.0,50000.0,SLA: Bronze,SL9020,Deloitte,Technology Partner,Consulting,1
1,0065j00000Tui0iAAB,chris,Needs Analysis,0015j00000Xs3uMAAR,01t5j000004Od0ZAAS,0065j00000Tui0iAAB,chris SLA: Bronze,5.0,10000.0,50000.0,SLA: Bronze,SL9020,Deloitte,Technology Partner,Consulting,1
7,0065j00000TwSHTAA3,Doppc,Prospecting,0015j00000aizj5AAA,01t5j000004Od0UAAS,0065j00000TwSHTAA3,Doppc SLA: Silver,3.0,20000.0,60000.0,SLA: Silver,SL9040,DaccC,None,None,1
9,0065j00000TwSFwAAN,Doppa,Prospecting,0015j00000aizGYAAY,01t5j000004Od0UAAS,0065j00000TwSFwAAN,Doppa SLA: Silver,3.0,20000.0,60000.0,SLA: Silver,SL9040,DaccA,None,None,1
11,0065j00000TwSFxAAN,Doppb,Prospecting,0015j00000aizi7AAA,01t5j000004Od0UAAS,0065j00000TwSFxAAN,Doppb SLA: Silver,3.0,20000.0,60000.0,SLA: Silver,SL9040,DaccB,None,None,1
13,0065j00000TwSIMAA3,Doppd,Prospecting,0015j00000aizkSAAQ,01t5j000004Od0UAAS,0065j00000TwSIMAA3,Doppd SLA: Silver,3.0,20000.0,60000.0,SLA: Silver,SL9040,DaccD,None,None,1

In [ ]:
df_Opp_OppP_Prod_Acc[df_Opp_OppP_Prod_Acc['cluster']== 2]

,OppId,OppName,StageName,AccountId,Product2Id,OpportunityId,OPP P Name,Quantity,UnitPrice,TotalPrice,Product Name,ProductCode,AccName,Type,Industry,cluster
2,0065j00000TuXIsAAN,Christmas,Closed Won,0015j00000Xs3uMAAR,01t5j000004Od0cAAC,0065j00000TuXIsAAN,Christmas SLA: Gold,9.0,30000.0,270000.0,SLA: Gold,SL9060,Deloitte,Technology Partner,Consulting,2
3,0065j00000Tui0iAAB,chris,Needs Analysis,0015j00000Xs3uMAAR,01t5j000004Od0cAAC,0065j00000Tui0iAAB,chris SLA: Gold,9.0,30000.0,270000.0,SLA: Gold,SL9060,Deloitte,Technology Partner,Consulting,2
4,0065j00000TuXIsAAN,Christmas,Closed Won,0015j00000Xs3uMAAR,01t5j000004Od0WAAS,0065j00000TuXIsAAN,Christmas SLA: Platinum,7.0,40000.0,280000.0,SLA: Platinum,SL9080,Deloitte,Technology Partner,Consulting,2
5,0065j00000Tui0iAAB,chris,Needs Analysis,0015j00000Xs3uMAAR,01t5j000004Od0WAAS,0065j00000Tui0iAAB,chris SLA: Platinum,7.0,40000.0,280000.0,SLA: Platinum,SL9080,Deloitte,Technology Partner,Consulting,2